area {
  background-color: yellow;
}

.dot {
  border-radius: 50%;
  height: 20px;
  position: absolute;
  width: 20px;
}

.green{
  background: green;
}

.red{
  background: red;
}

.blue{
  background: blue;
}
