<div class="menu">
  <h2>Select your location</h2>
  <div>
    <form class="form">

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>City</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Building"
               matInput
               [formControl]="buildingsControl"
               [matAutocomplete]="autoCity">
        <mat-autocomplete #autoCity="matAutocomplete">
          <mat-option *ngFor="let building of buildings,let i=index" [value]="building.city" (click)="searchFloors(i)">
            {{building.city}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Floor</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Floor"
               matInput
               [formControl]="floorsControl"
               [matAutocomplete]="autoFloor">
        <mat-autocomplete #autoFloor="matAutocomplete">
          <mat-option *ngFor="let floor of floors" [value]="floor.name">
            {{floor.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <button mat-raised-button (click)="submit()">Search</button>
</div>
<app-map [img]="'https://imgv3.fotor.com/images/homepage-feature-card/Fotor-AI-photo-enhancement-tool.jpg'" [places]="places" *ngIf="openMap"></app-map>
